<app-toolbar></app-toolbar>
<div id="divDatos">
    <div>
        <h2><mat-icon>monetization_on</mat-icon> Cuentas bancarias</h2>
        <p>{{nombreCliente}}</p>
    </div>
    <div id="divCuentas" style="display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
        @for (cuenta of cuentas; track $index) {
            <div class="divCuenta" style="width: 25%; margin: 10px; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
                <h3><b>Cuenta {{cuenta.descripcion}}</b></h3>
                <p>No. {{cuenta.num_cuenta}}</p>
                <p style="text-align: end;">GTQ {{ cuenta.saldo | number:'1.2-2' }}</p>
                <p style="text-align: end; color: gray;">Saldo disponible</p>
                <button mat-raised-button color="primary" (click)="verMovimientos(cuenta.id_cuenta, cuenta.num_cuenta)">Ver movimientos</button>
            </div>
        }
    </div>

    <h3><b>Total saldo:</b> GTQ {{totalSaldo | number:'1.2-2' }}</h3>
</div>